<h2>New Contact</h2>
<!-- Add name to the form for validation with Angular-->
<form name="newContact" novalidate class="form-horizontal">

	<form-field record="contact" field="firstName" live="false" required="true"></form-field>
	<form-field record="contact" field="lastName" live="false" required="true"></form-field>

	<form-field ng-repeat="(key, value) in contact | keyFilter:'firstName' | keyFilter: 'lastName'" record="contact" field="{{key}}"></form-field>

	<new-field record="contact" live="false"></new-field>

	<div class="row form-group">
		<div class="col-sm-offset-2">
			<button class="btn btn-primary" ng-click="save()">
				Create contact
			</button>
		</div>
	</div>
</form>